Django==2.0.6
django-cors-headers==3.2.0
django-crispy-forms==1.8.0
django-filter==2.2.0
django-filter-stubs==0.1.1
django-formtools==2.1
django-import-export==1.2.0
django-pure-pagination==0.3.0
django-reversion==3.0.4
djangorestframework==3.10.3
djangorestframework-jwt==1.11.0
djangorestframework-simplejwt==4.4.0
future==0.18.2
paramiko==2.4.1
Pillow==6.1.0
PyMySQL==0.9.3
timeline==0.0.7
xadmin==2.0.1
