{% extends 'base.html' %}
{% load staticfiles %}

{% block base_title %}
    数据字典
{% endblock base_title %}

<script src="{% static 'js/dict/add.js' %}"></script>
<script src="{% static 'js/common.js' %}"></script>
<script src="{% static 'js/dict/dict.js' %}"></script>
<script src="{% static 'plugins/layer/laydateNew/laydate.js' %}"></script>
<script src="{% static 'plugins/layer/layer.js' %}"></script>
<script src="{% static 'plugins/layer/layer.min.js' %}"></script>


{% block base_content %}
    <!-- 右边主体 -->
    <div class="app-content" style="overflow: hidden;overflow-y:scroll;">
        <div class="app-content-body fade-in-up">
            <div class="padder" style="padding-top: 10px;">
                <div class="col-md-12" style="padding-left: 0; padding-right: 0; ">
                    <div class="panel panel-default" id="body-content">
                        <div class="panel-heading" >
                            <div style="display: block; border-left: 5px solid #1c2b36; padding-left: 10px; font-size: 20px; font-weight: bolder; line-height: 25px;color: #1c2b36;">
                                数据字典
                            </div>
                        </div>

                        <div class="selectBox" style="padding: 15px;padding-bottom: 0">
                            {% if request.user.role < 3 %}
                                    <a class="btn btn-sm btn-default" data-toggle="modal" data-target="#AddDictModal"><i
                                            class="fa fa-plus"></i> 添加字典</a>
                                {% endif %}

                        </div>

                        <div class="panel-body" id="table_content" >
                            <!-- 列表 -->
                            <div class="row">
                                <div class="col-sm-12">
                                    <table class="table table-striped table-bordered" >
                                        <!-- 标题行 -->
                                        <thead>
                                        <tr role="row">
                                            <th class="text-center">ID</th>
                                            <th class="text-center">标签名</th>
                                            <th class="text-center">数据值</th>
{#                                            <th class="text-center">数据类型</th>#}
{#                                            <th class="text-center">类型描述</th>#}
{#                                            <th class="text-center">排序</th>#}
                                            <th class="text-center">备注</th>
                                            <th class="text-center">操作</th>


                                        </tr>
                                        </thead>
                                        <tbody>

                                        {% for each_dict in dicts.object_list %}
                                            <tr class="gradeX odd" role="row">
                                                <td class="text-center">{{ forloop.counter }}</td>
                                                <td class="text-center"
                                                    style="vertical-align:middle;">{{ each_dict.name }}
                                                </td>
                                                <td class="text-center"
                                                    style="vertical-align:middle;">{{ each_dict.value }}
                                                </td>
                                                <td class="text-center"
                                                    style="vertical-align:middle;">{{ each_dict.remark }}
                                                </td>
{#                                                <td class="text-center"#}
{#                                                    style="vertical-align:middle;">{{ each_dict.description }}#}
{#                                                </td>#}

                                                <td class="text-center" style="vertical-align:middle;">
                                                    <a type="button" class="btn btn-xs"
                                                       style="background-color: #1c84c6;color: white;"
                                                      data-toggle="modal"
                                                       data-target="#EditDictModal{{ each_dict.id }}">
                                                        修改
                                                    </a>
                                                    <button class="btn btn-xs"
                                                                style="background-color: #c7254e;color: white;"
                                                                data-toggle="modal"
                                                                data-target="#DeleteDictModal{{ each_dict.id }}">
                                                        删除
                                                    </button>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="" style="padding-top: 0; padding-bottom: 0;">
                            <div class="text-center">
                                <ul class="pagination" style="margin-top: 10px; margin-bottom: 10px;">

                                    <!-- 上一页 -->
                                    {% if dicts.has_previous %}
                                        <li><a href="?{{ dicts.previous_page_number.querystring }}">上一页<span
                                                class="sr-only"></span></a></li>
                                        <li><a href="?{{ dicts.previous_page_number.querystring }}">&laquo;<span
                                                class="sr-only"></span></a></li>
                                    {% endif %}

                                    <!-- 页码 -->
                                    {% for page in dicts.pages %}
                                        {% if page %}
                                            <!-- 当前页 -->
                                            {% ifequal page dicts.number %}
                                                <li class="active"><a href="?page={{ page }}">{{ page }}<span
                                                        class="sr-only">(current)</span></a></li>
                                                <!-- 其它页 -->
                                            {% else %}
                                                <li><a href="?page={{ page }}">{{ page }}<span
                                                        class="sr-only"></span></a></li>
                                            {% endifequal %}
                                            <!-- 省略页 -->
                                        {% else %}
                                            <li><a href="">...<span class="sr-only"></span></a></li>
                                        {% endif %}
                                    {% endfor %}

                                    <!-- 下一页 -->
                                    {% if dicts.has_next %}
                                        <li><a href="?{{ dicts.next_page_number.querystring }}">&raquo;<span
                                                class="sr-only"></span></a></li>
                                        <li><a href="?{{ dicts.next_page_number.querystring }}">下一页<span
                                                class="sr-only"></span></a></li>
                                    {% endif %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock base_content %}

{% block base_footer_html %}
    <div class="modal inmodal" id="AddDictModal" tabindex="-1" role="dialog" aria-hidden="true"
         data-backdrop="static">
        <div class="modal-dialog" style="width: 30%;">
            <div class="modal-content" style="margin-top: 100px;">

                <div class="modal-header"
                     style="background-color: #1c2b36; color: white;padding-top: 10px; padding-bottom: 10px;">
                    <button type="button" class="close" data-dismiss="modal">
                        <i class="icon-close" style="font-size: 18px;"></i>
                    </button>
                    <h4 class="modal-title">添加字典</h4>
                </div>

                <form class="form-horizontal m-t" id="id_AddDictForm">
                    <div class="form-group">
                        <label class="col-sm-3 control-label">标签名：</label>
                        <div class="col-sm-8">
                            <input id="name" name="name" class="form-control" type="text">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">数据值：</label>
                        <div class="col-sm-8">
                            <input id="value" name="value" class="form-control" type="text">
                        </div>
                    </div>
{#                    <div class="form-group">#}
{#                        <label class="col-sm-3 control-label">类型：</label>#}
{#                        <div class="col-sm-8">#}
{#                            <input id="type" name="type" value={{ type }} class="form-control" type="text">#}
{#                        </div>#}
{#                    </div>#}
{#                    <div class="form-group">#}
{#                        <label class="col-sm-3 control-label">描述：</label>#}
{#                        <div class="col-sm-8">#}
{#                            <input id="description" name="description" value={{ description }} class="form-control"#}
{#                                type="text">#}
{#                        </div>#}
{#                    </div>#}
{#                    <div class="form-group">#}
{#                        <label class="col-sm-3 control-label">排序：</label>#}
{#                        <div class="col-sm-8">#}
{#                            <input id="sort" name="sort" class="form-control" type="text">#}
{#                        </div>#}
{#                    </div>#}

                    <div class="form-group">
                        <label class="col-sm-3 control-label">备注信息：</label>
                        <div class="col-sm-8">
                            <input id="remarks" name="remarks" class="form-control"
                                type="text">
                        </div>
                    </div>

                    <div class="modal-footer" style="padding-right: 30px;padding-top: 10px; padding-bottom: 10px;">
                            <a class="btn btn-sm btn-default" data-dismiss="modal">取消</a>
                            <a class="btn btn-sm btn-default" id="id_AddDictBtn{{ each_device.id }}">确定</a>
                        </div>

{#                    <div class="form-group">#}
{#                        <div class="col-sm-8 col-sm-offset-3">#}
{#                            <button type="submit" class="btn btn-primary" id="id_AddDictBtn">提交</button>#}
{#                        </div>#}
{#                    </div>#}
                </form>
            </div>
        </div>
    </div>

    <!-- 添加数据字典 -->
    <script>
        $(function () {
            // 提交表单
            $('#id_AddDictBtn').on('click', function () {
                $.ajax({
                    cache: false,
                    type: "POST",
                    url: "{% url 'host_management:add_dict' %}",
                    data: $('#id_AddDictForm').serialize(),
                    async: true,
                    beforeSend: function (xhr, settings) {
                        xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");
                    },
                    success: function (data) {
                        if (data.status == 'success') {
                            window.location.reload();
                        } else if (data.status == 'failed') {
                            window.alert(data.msg);
                        }
                    }
                });
            });
        })
    </script>

    {% for each_dict in dicts.object_list %}
{#        修改数据字典#}
        <div class="modal inmodal" id="EditDictModal{{ each_dict.id }}" tabindex="-1" role="dialog" aria-hidden="true"
             data-backdrop="static">
            <div class="modal-dialog" style="width: 500px;">
                <div class="modal-content" style="margin-top: 100px;" >
                    <div class="modal-header"
                         style="background-color: #1c2b36; color: white;padding-top: 10px; padding-bottom: 10px;">
                        <button type="button" class="close" data-dismiss="modal">
                            <i class="icon-close" style="font-size: 18px;"></i>
                        </button>
                        <h4 class="modal-title">修改字典</h4>
                    </div>

                    <form method="post" id="id_EditDictForm{{ each_dict.id }}">
                        <input type="hidden" name="dev_id" value="{{ each_dict.id }}">
                            <div class="col-md-12" style="padding-top: 20px">

                                <div class="form-group"
                                     style="vertical-align: middle;line-height: 34px;padding-bottom: 30px;">
                                    <div class="col-md-3">
                                        <span style="font-size: 12px;">标签名：</span>
                                    </div>
                                    <div class="col-md-9" style="padding: 0;">
                                        <input type="text" class="form-control" placeholder="标签名"
                                               maxlength="20" name="name" required="" value="{{ each_dict.name }}">
                                    </div>
                                </div>

                                <div class="form-group"
                                     style="vertical-align: middle;line-height: 34px;padding-bottom: 30px;">
                                    <div class="col-md-3">
                                        <span style="font-size: 12px;">数据值：</span>
                                    </div>
                                    <div class="col-md-9" style="padding: 0;">
                                        <input type="text" class="form-control" placeholder="数据值"
                                               maxlength="20" name="value" required="" value="{{ each_dict.value }}">
                                    </div>
                                </div>

                                <div class="form-group"
                                     style="vertical-align: middle;line-height: 34px;padding-bottom: 30px;">
                                    <div class="col-md-3">
                                        <span style="font-size: 12px;">备注：</span>
                                    </div>
                                    <div class="col-md-9" style="padding: 0;">
                                        <input type="text" class="form-control" placeholder="备注"
                                               maxlength="20" name="remarks" required="" value="{{ each_dict.remarks }}">
                                    </div>
                                </div>

                            </div>
                        <div class="modal-footer" style="padding-right: 30px;padding-top: 10px; padding-bottom: 10px;">
                            <a class="btn btn-sm btn-default" data-dismiss="modal">取消</a>
                            <a class="btn btn-sm btn-default" id="id_EditDictBtn{{ each_dict.id }}">修改</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <!-- 修改设备 -->
        <script>
            $(function () {
                // 提交表单
                $('#id_EditDictBtn{{ each_dict.id }}').on('click', function () {
                    $.ajax({
                        cache: false,
                        type: "POST",
                        url: "{% url 'host_management:edit_dict'%}",
                        data: $('#id_EditDictForm{{ each_dict.id }}').serialize(),
                        async: true,
                        beforeSend: function (xhr, settings) {
                            xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");
                        },
                        success: function (data) {
                            if (data.status == 'success') {
                                window.location.reload();
                            } else if (data.status == 'failed') {
                                window.alert(data.msg);
                            }
                        }
                    });
                });
            })
        </script>

        <!-- 删除字典 -->
        <div class="modal inmodal" id="DeleteDictModal{{ each_dict.id }}" tabindex="-1" role="dialog" aria-hidden="true"
             data-backdrop="static">
            <div class="modal-dialog modal-sm" style="padding-top: 10%;">
                <div class="modal-content">
                    <div class="modal-header"
                         style="background-color: #1c2b36; color: white;padding-top: 10px; padding-bottom: 10px;">
                        <button type="button" class="close" data-dismiss="modal">
                            <i class="icon-close" ></i>
                        </button>
                        <h4 class="modal-title" style="font-size: 16px;">警告！</h4>
                    </div>

                    <form method="post" id="id_DeleteDictForm{{ each_dict.id }}">
                        <input type="hidden" name="id" value="{{ each_dict.id }}">
                        <div class="modal-body" style="font-size: 14px">
                            <span >是否确定删除该数据字典？</span>
                        </div>
                    </form>

                    <div class="modal-footer" style="padding: 10px;">
                        <a class="btn btn-default" data-dismiss="modal" style="padding: 2px 10px;font-size: 12px">取消</a>
                        <a class="btn btn-default" id="id_DeleteDictBtn{{ each_dict.id }}" style="padding: 2px 10px;font-size: 12px;">确定</a>
                    </div>

                </div>
            </div>
        </div>

        <!-- 删除平台 -->
        <script>
            $(function () {
                // 提交表单
                $('#id_DeleteDictBtn{{ each_dict.id }}').on('click', function () {
                    $.ajax({
                        cache: false,
                        type: "POST",
                        url: "{% url 'host_management:delete_dict' %}",
                        data: $('#id_DeleteDictForm{{ each_dict.id }}').serialize(),
                        async: true,
                        beforeSend: function (xhr, settings) {
                            xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");
                        },
                        success: function (data) {
                            if (data.status == 'success') {
                               window.location.reload();
                            } else if (data.status == 'failed') {
                                window.alert(data.msg);
                            }
                        }
                    });
                });
            })
        </script>
    {% endfor %}
{% endblock base_footer_html %}
