{% extends 'base.html' %}
{% load staticfiles %}

{% block base_title %}
    {{ title }}
{% endblock base_title %}

{% block base_content %}
    <!-- 右边主体 -->
    <div class="app-content" style="overflow: hidden;overflow-y:scroll;">
        <div class="app-content-body fade-in-up">
            <div class="padder" style="padding-top: 10px;">
                <div class="col-md-12" style="padding-left: 0; padding-right: 0; ">
                    <div class="panel panel-default" id="body-content">
                        <div class="panel-heading" >
                            <div style="display: block; border-left: 5px solid #1c2b36; padding-left: 10px; font-size: 20px; font-weight: bolder; line-height: 25px;color: #1c2b36;">
                                {{ title }}
                            </div>
                        </div>

                        <div class="selectBox" style="padding: 15px;padding-bottom: 0">
                            {% if request.user.role < 3 %}
                                    <a class="btn btn-sm btn-default" data-toggle="modal" data-target="#AddUserModal"><i
                                            class="fa fa-plus"></i> 添加用户</a>
                                {% endif %}

                            <!-- 功能 -->
                            <form class="navbar-form pull-right " role="search" style="margin-top: 0;">

                                <div class="form-group">
                                    <div class="input-group">
                                        <input type="text" name="keyword"
                                               class="form-control input-sm bg-light no-border rounded "
                                               placeholder="关键词查找记录" style="width: 150px;">
                                        <span class="input-group-btn">
                                        <button type="submit" class="btn btn-sm bg-auto rounded">
                                            <i class="fa fa-search"></i>
                                        </button>
                                    </span>
                                    </div>
                                </div>
                            </form>
                                <span style="padding-top: 6px" class="pull-right">共 <b
                                        style="color: orangered">{{ record_nums }}</b> 条</span>
                            </div>

                        <div class="panel-body" id="table_content" >
                            <!-- 列表 -->
                            <div class="row">
                                <div class="col-sm-12">
                                    <table class="table table-striped table-bordered" >
                                        <!-- 标题行 -->
                                        <thead>
                                        <tr role="row">
                                            <th class="text-center">ID</th>
                                            <th class="text-center">所属单位</th>
                                            <th class="text-center">所属部门</th>
                                            <th class="text-center">登陆账号</th>
                                            <th class="text-center">用户姓名</th>
                                            <th class="text-center">用户角色</th>
                                            <th class="text-center">用户性别</th>
                                            <th class="text-center">联系电话</th>
                                            <th class="text-center">邮箱地址</th>
                                            <th class="text-center">用户状态</th>
                                            <th class="text-center">创建时间</th>
                                            <th class="text-center">操作</th>
                                        </tr>
                                        </thead>
                                        <tbody>

                                        {% for each_user in users.object_list %}
                                            <tr class="gradeX odd" role="row">
                                                <td class="text-center"
                                                    style="vertical-align:middle;">{{ each_user.id }}
                                                </td>
                                                <td class="text-center" style="vertical-align:middle;">
                                                    {% if each_user.unit_name %}{{ each_user.unit_name }}{% else %}-{% endif %}
                                                </td>
                                                <td class="text-center" style="vertical-align:middle;">
                                                    {% if each_user.dept_name %}{{ each_user.dept_name }}{% else %}-{% endif %}
                                                </td>
                                                <td class="text-center"
                                                    style="vertical-align:middle;">{{ each_user.username }}
                                                </td>
                                                <td class="text-center"
                                                    style="vertical-align:middle;">{% if each_user.user_name %}{{ each_user.user_name }}{% else %}-{% endif %}
                                                </td>
                                                <td class="text-center"
                                                    style="vertical-align:middle;">{% if each_user.role is 1 %}超级管理员
                                                    {% elif each_user.role is 2 %}平台管理员
                                                    {% elif each_user.role is 3 %}单位管理员{% else %}-{% endif %}
                                                </td>

                                                <td class="text-center"
                                                    style="vertical-align:middle;">{% if each_user.gender == 'female' %}女
                                                    {% elif each_user.gender == 'male' %}男{% endif %}
                                                </td>

                                                <td class="text-center"
                                                    style="vertical-align:middle;">{% if each_user.mobile %}{{ each_user.mobile }}
                                                {% else %}-{% endif %}
                                                </td>
                                                <td class="text-center"
                                                    style="vertical-align:middle;">{% if each_user.email %}{{ each_user.email }}
                                                {% else %}-{% endif %}
                                                </td>

                                                <td class="text-center"
                                                    style="vertical-align:middle;">{% if each_user.status is 1 %}
                                                    <a  class="btn btn-xs">启用 {% else %}
                                                    <a  class="btn btn-xs">禁用{% endif %} </a>
                                                </td>
                                                <td class="text-center"
                                                    style="vertical-align:middle;">{{ each_user.create_time }}
                                                </td>

                                                <td class="text-center" style="vertical-align:middle;">
                                                    <a type="button" class="btn btn-xs"
                                                       style="background-color: #1c84c6;color: white;"
                                                      data-toggle="modal"
                                                       data-target="#EditUserModal{{ each_user.id }}">
                                                        修改
                                                    </a>
                                                    <button class="btn btn-xs"
                                                                style="background-color: #c7254e;color: white;"
                                                                data-toggle="modal"
                                                                data-target="#DeleteUserModal{{ each_user.id }}">
                                                        删除
                                                    </button>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="" style="padding-top: 0; padding-bottom: 0;">
                            <div class="text-center">
                                <ul class="pagination" style="margin-top: 10px; margin-bottom: 10px;">

                                    <!-- 上一页 -->
                                    {% if users.has_previous %}
                                        <li><a href="?{{ users.previous_page_number.querystring }}">上一页<span
                                                class="sr-only"></span></a></li>
                                        <li><a href="?{{ users.previous_page_number.querystring }}">&laquo;<span
                                                class="sr-only"></span></a></li>
                                    {% endif %}

                                    <!-- 页码 -->
                                    {% for page in users.pages %}
                                        {% if page %}
                                            <!-- 当前页 -->
                                            {% ifequal page users.number %}
                                                <li class="active"><a href="?page={{ page }}">{{ page }}<span
                                                        class="sr-only">(current)</span></a></li>
                                                <!-- 其它页 -->
                                            {% else %}
                                                <li><a href="?page={{ page }}">{{ page }}<span
                                                        class="sr-only"></span></a></li>
                                            {% endifequal %}
                                            <!-- 省略页 -->
                                        {% else %}
                                            <li><a href="">...<span class="sr-only"></span></a></li>
                                        {% endif %}
                                    {% endfor %}

                                    <!-- 下一页 -->
                                    {% if users.has_next %}
                                        <li><a href="?{{ users.next_page_number.querystring }}">&raquo;<span
                                                class="sr-only"></span></a></li>
                                        <li><a href="?{{ users.next_page_number.querystring }}">下一页<span
                                                class="sr-only"></span></a></li>
                                    {% endif %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock base_content %}

{% block base_footer_html %}
    <div class="modal inmodal" id="AddUserModal" tabindex="-1" role="dialog" aria-hidden="true"
         data-backdrop="static">
        <div class="modal-dialog" style="width: 30%;">
            <div class="modal-content" style="margin-top: 50px;width: 500px;">

                <div class="modal-header"
                     style="background-color: #1c2b36; color: white;padding-top: 10px; padding-bottom: 10px;">
                    <button type="button" class="close" data-dismiss="modal">
                        <i class="icon-close" style="font-size: 18px;"></i>
                    </button>
                    <h4 class="modal-title">添加用户</h4>
                </div>

                <form method="post" id="id_AddUserForm">
                    <div class="form-group" style="vertical-align: middle;line-height: 34px;padding-top: 20px;padding-bottom: 30px">
                        <div class="col-md-3">
                            <span style="font-size: 12px;">用户角色:</span>
                        </div>
                        <div class="col-sm-9" style="padding: 0;">
{#                            <input type="text" class="form-control" maxlength="20" name="role" required="" value="单位管理员" readonly>#}
                            <select name="role" id="role" class="form-control">
                                <option value="">请选择...</option>
                                <option value="1">超级管理员</option>
                                <option value="2">平台管理员</option>
                                <option value="3">单位管理员</option>
                                <option value="4">一般用户</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group"
                         style="vertical-align: middle;line-height: 34px;padding-bottom: 30px">
                        <div class="col-md-3">
                            <span style="font-size: 12px;">单位名称:</span>
                        </div>
                        <div class="col-md-9" style="padding: 0;">
                            {% if role == 1 %}
                                <input  readonly>
                            {% else %}
                            <select name="unit_id" id="unit_id" class="form-control selectpicker">
                            <option value="">请选择...</option>
                            {% for each_unit in  units %}
                                <option value="{{ each_unit.id }}">{{ each_unit.name }}</option>
                            {% endfor %}{% endif %}
                            </select>
                        </div>
                    </div>

                    <div class="form-group"
                         style="vertical-align: middle;line-height: 34px;padding-bottom: 30px;">
                        <div class="col-md-3">
                            <span style="font-size: 12px;">部门名称:</span>
                        </div>
                        <div class="col-md-9" style="padding: 0;">
                            <select name="dept_id" id="dept_id" class="form-control selectpicker">
                            <option value="">请选择...</option>
                            {% for each_dept in depts %}
                                <option value="{{ each_dept.id }}">{{ each_dept.name }}</option>
                            {% endfor %}
                            </select>
                        </div>
                    </div>

                    <div class="form-group"
                         style="vertical-align: middle;line-height: 34px;padding-bottom: 30px">
                        <div class="col-md-3">
                            <span style="font-size: 12px;">登录账号:</span>
                        </div>
                        <div class="col-md-9" style="padding: 0;">
                            <input type="text" class="form-control" placeholder='登录账号'
                                   maxlength="30" name="username" required="">
                        </div>
                    </div>

                    <div class="form-group"
                         style="vertical-align: middle;line-height: 34px;padding-bottom: 30px">
                        <div class="col-md-3">
                            <span style="font-size: 12px;">用户名称:</span>
                        </div>
                        <div class="col-md-9" style="padding: 0;">
                            <input type="text" class="form-control" placeholder='用户名称'
                                   maxlength="20" name="user_name" required="">
                        </div>
                    </div>

                    <div class="form-group"
                         style="vertical-align: middle;line-height: 34px;padding-bottom: 30px">
                        <div class="col-md-3">
                            <span style="font-size: 12px;">用户密码:</span>
                        </div>
                        <div class="col-md-9" style="padding: 0;">
                            <input type="text" class="form-control" placeholder='用户密码'
                                   maxlength="20" name="password" required="">
                        </div>
                    </div>

                    <div class="form-group"
                         style="vertical-align: middle;line-height: 34px;padding-bottom: 30px">
                        <div class="col-md-3">
                            <span style="font-size: 12px;">用户性别:</span>
                        </div>
                        <div class="col-md-9" style="padding: 0;">
                            <select name="gender" class="form-control selectpicker">
                            <option value="">请选择...</option>
                            <option value="male">男</option>
                            <option value="female">女</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group"
                         style="vertical-align: middle;line-height: 34px;padding-bottom: 30px;">
                        <div class="col-md-3">
                            <span style="font-size: 12px;">联系电话:</span>
                        </div>
                        <div class="col-md-9" style="padding: 0;">
                            <input type="text" class="form-control" placeholder='联系电话' name="mobile">
                        </div>
                    </div>

                    <div class="form-group"
                         style="vertical-align: middle;line-height: 34px;padding-bottom: 30px;">
                        <div class="col-md-3">
                            <span style="font-size: 12px;">邮箱地址:</span>
                        </div>
                        <div class="col-md-9" style="padding: 0;">
                            <input type="text" class="form-control" placeholder='邮箱地址' name="email">
                        </div>
                    </div>

                    <div class="form-group" style="vertical-align: middle;line-height: 34px;padding-bottom: 30px;">
                        <div class="col-md-3">
                            <span style="font-size: 12px;">运行模式：</span>
                        </div>
                        <div class="col-md-9" style="padding: 0;">
                            <input type="radio" name="status" value="1" checked/>&nbsp;启用&nbsp;&nbsp;&nbsp;
                            <input type="radio" name="status" value="0"/>&nbsp;禁用
                        </div>
                    </div>

                    <div class="form-group"
                         style="vertical-align: middle;line-height: 34px;padding-bottom: 30px;">
                        <div class="col-md-3">
                            <span style="font-size: 12px;">备注：</span>
                        </div>
                        <div class="col-md-9" style="padding: 0;">
                            <input type="text" class="form-control" placeholder="备注" name="comment">
                        </div>
                    </div>
                    <div class="modal-footer" style="padding-top: 10px; padding-bottom: 10px;">
                        <a class="btn btn-sm btn-default" data-dismiss="modal">取消</a>
                        <a class="btn btn-sm btn-default" id="id_AddUserBtn">添加</a>
                    </div>
                    </form>
                    </div>
                </div>
            </div>

    <script src="{% static 'js/common.js' %}"></script>
{#    <script src="{% static 'js/user/user.js' %}"></script>#}
    <script src="{% static 'js/lay/modules/layer.js' %}"></script>

{#    <script>#}
{#        $(function () {#}
{#            $('#id_AddUserBtn').on('click', function () {#}
{#            // iframe层#}
{#                $(layer.open({#}
{#                    // type : 2,#}
{#                    title : '系统管理/增加',#}
{#                    maxmin : false,#}
{#                    shadeClose : false, // 点击遮罩关闭层#}
{#                    area : [ '400px', '260px' ],#}
{#                    id: 'uer_add0',#}
{#                    btn: ['下一步','取&nbsp;消'],#}
{#                    btnAlign: 'c',#}
{#                    moveType: 1,#}
{#                    content :"{% url 'users:user_add' %}",#}
{#                    btn1: function(index, layero){#}
{#                        var body = layer.getChildFrame('body', index);#}
{#                            },#}
{#                        }),#}
{#                    )#}
{#                })#}
{#            })#}
{#    </script>#}
    <!-- 添加用户 -->
    <script>
        $(function () {
            // 提交表单
            $('#id_AddUserBtn').on('click', function () {
                $.ajax({
                    cache: false,
                    type: "POST",
                    url: "{% url 'users:user_add' %}",
                    data: $('#id_AddUserForm').serialize(),
                    async: true,
                    beforeSend: function (xhr, settings) {
                        xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");
                    },
                    success: function (data) {
                        if (data.status == 'success') {
                            window.location.reload();
                        } else if (data.status == 'failed') {
                            window.alert(data.msg);
                        }
                    }
                });
            });
        })
    </script>

    {% for each_user in users.object_list %}
{#        修改用户#}
        <div class="modal inmodal" id="EditUserModal{{ each_user.id }}" tabindex="-1" role="dialog" aria-hidden="true"
             data-backdrop="static">
            <div class="modal-dialog" style="width: 500px;">
                <div class="modal-content" style="margin-top: 50px;" >
                    <div class="modal-header"
                         style="background-color: #1c2b36; color: white;padding-top: 10px; padding-bottom: 10px;">
                        <button type="button" class="close" data-dismiss="modal">
                            <i class="icon-close" style="font-size: 18px;"></i>
                        </button>
                        <h4 class="modal-title">用户修改</h4>
                    </div>

                    <form method="post" id="id_EditUserForm{{ each_user.id }}">
                        <input type="hidden" name="id" value="{{ each_user.id }}">
                            <div class="col-md-12" style="padding-top: 20px">

                                <div class="form-group"
                                     style="vertical-align: middle;line-height: 34px;padding-bottom: 30px;">
                                    <div class="col-md-3">
                                        <span style="font-size: 12px;">用户角色：</span>
                                    </div>
                                    <div class="col-md-9" style="padding: 0;">
                                        <input type="text" class="form-control"
                                           {% if each_user.role == 1 %} value="超级管理员"
                                           {% elif each_user.role == 2 %} value="平台管理员"
                                           {% elif each_user.role == 3 %} value="单位管理员"
                                           {% else %} value="-"
                                           {% endif %}
                                           readonly>
                                    </div>
                                </div>

                                <div class="form-group"
                                     style="vertical-align: middle;line-height: 34px;padding-bottom: 30px;">
                                    <div class="col-md-3">
                                        <span style="font-size: 12px;">单位名称：</span>
                                    </div>
                                    <div class="col-md-9" style="padding: 0;">
                                        <input type="text" class="form-control" {% if each_user.unit_name %} value="{{ each_user.unit_name }}" {% else %} value="-"{% endif %} readonly>
                                    </div>
                                </div>

                                <div class="form-group"
                                     style="vertical-align: middle;line-height: 34px;padding-bottom: 30px;">
                                    <div class="col-md-3">
                                        <span style="font-size: 12px;">部门名称：</span>
                                    </div>
                                    <div class="col-md-9" style="padding: 0;">
                                        <input type="text" class="form-control" {% if each_user.dept_name %} value="{{ each_user.dept_name }}" {% else %} value="-"{% endif %} readonly>
                                    </div>
                                </div>

                                <div class="form-group"
                                     style="vertical-align: middle;line-height: 34px;padding-bottom: 30px;">
                                    <div class="col-md-3">
                                        <span style="font-size: 12px;">登录账号：</span>
                                    </div>
                                    <div class="col-md-9" style="padding: 0;">
                                        <input type="text" class="form-control" placeholder="登录账号"
                                               maxlength="20" name="username" required="" value="{{ each_user.username }}" readonly>
                                    </div>
                                </div>

                                <div class="form-group"
                                     style="vertical-align: middle;line-height: 34px;padding-bottom: 30px;">
                                    <div class="col-md-3">
                                        <span style="font-size: 12px;">用户名称：</span>
                                    </div>
                                    <div class="col-md-9" style="padding: 0;">
                                        <input type="text" class="form-control" placeholder="用户名称"
                                               maxlength="20" name="user_name" required="" value="{{ each_user.user_name }}">
                                    </div>
                                </div>

                                <div class="form-group"
                                     style="vertical-align: middle;line-height: 34px;padding-bottom: 30px">
                                    <div class="col-md-3">
                                        <span style="font-size: 12px;">联系电话:</span>
                                    </div>
                                    <div class="col-md-9" style="padding: 0;">
                                        <input type="text" class="form-control" placeholder='联系电话' name="mobile" value="{{ each_user.mobile }}">
                                    </div>
                                </div>

                                <div class="form-group"
                                     style="vertical-align: middle;line-height: 34px;padding-bottom: 30px;">
                                    <div class="col-md-3">
                                        <span style="font-size: 12px;">邮箱地址：</span>
                                    </div>
                                    <div class="col-md-9" style="padding: 0;">
                                        <input type="text" class="form-control" placeholder="邮箱地址"
                                                   maxlength="20" name="email" value="{{ each_user.email }}">
                                    </div>
                                </div>

                                <div class="form-group" style="vertical-align: middle;line-height: 34px;padding-bottom: 30px;">
                                    <div class="col-md-3">
                                        <span style="font-size: 12px;">运行模式：</span>
                                    </div>
                                    <div class="col-md-9" style="padding: 0;">
                                        <input type="radio" name="status" value="1" checked/>&nbsp;启用&nbsp;&nbsp;&nbsp;
                                        <input type="radio" name="status" value="0"/>&nbsp;禁用
                                    </div>
                                </div>

                                <div class="form-group"
                                     style="vertical-align: middle;line-height: 34px;padding-bottom: 30px;">
                                    <div class="col-md-3">
                                        <span style="font-size: 12px;">备注：</span>
                                    </div>
                                    <div class="col-md-9" style="padding: 0;">
                                        <input type="text" class="form-control" placeholder="备注" name="comment"
                                                {% if each_user.comment == "None" %} value=""
                                                {% else %} value="{{ each_user.comment }}"{% endif %}>
                                    </div>
                                </div>
                            </div>
                        <div class="modal-footer" style="padding-right: 30px;padding-top: 10px; padding-bottom: 10px;">
                            <a class="btn btn-sm btn-default" data-dismiss="modal">取消</a>
                            <a class="btn btn-sm btn-default" id="id_EditUserBtn{{ each_user.id }}">修改</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <!-- 修改用户 -->
        <script>
            $(function () {
                // 提交表单
                $('#id_EditUserBtn{{ each_user.id }}').on('click', function () {
                    $.ajax({
                        cache: false,
                        type: "POST",
                        url: "{% url 'users:user_edit'%}",
                        data: $('#id_EditUserForm{{ each_user.id }}').serialize(),
                        async: true,
                        beforeSend: function (xhr, settings) {
                            xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");
                        },
                        success: function (data) {
                            if (data.status == 'success') {
                                window.location.reload();
                            } else if (data.status == 'failed') {
                                window.alert(data.msg);
                            }
                        }
                    });
                });
            })
        </script>

        <!-- 删除用户 -->
        <div class="modal inmodal" id="DeleteUserModal{{ each_user.id }}" tabindex="-1" role="dialog" aria-hidden="true"
             data-backdrop="static">
            <div class="modal-dialog modal-sm" style="padding-top: 10%;">
                <div class="modal-content">
                    <div class="modal-header"
                         style="background-color: #1c2b36; color: white;padding-top: 10px; padding-bottom: 10px;">
                        <button type="button" class="close" data-dismiss="modal">
                            <i class="icon-close" ></i>
                        </button>
                        <h4 class="modal-title" style="font-size: 16px;">警告！</h4>
                    </div>

                    <form method="post" id="id_DeleteUserForm{{ each_user.id }}">
                        <input type="hidden" name="id" value="{{ each_user.id }}">
                        <div class="modal-body" style="font-size: 14px">
                            <span>是否确定删除该用户？</span>
                        </div>
                    </form>

                    <div class="modal-footer" style="padding: 10px;">
                        <a class="btn btn-default" data-dismiss="modal" style="padding: 2px 10px;font-size: 12px">取消</a>
                        <a class="btn btn-default" id="id_DeleteUserBtn{{ each_user.id }}" style="padding: 2px 10px;font-size: 12px">确定</a>
                    </div>

                </div>
            </div>
        </div>

        <!-- 删除用户 -->
        <script>
            $(function () {
                // 提交表单
                $('#id_DeleteUserBtn{{ each_user.id }}').on('click', function () {
                    $.ajax({
                        cache: false,
                        type: "POST",
                        url: "{% url 'users:user_delete' %}",
                        data: $('#id_DeleteUserForm{{ each_user.id }}').serialize(),
                        async: true,
                        beforeSend: function (xhr, settings) {
                            xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");
                        },
                        success: function (data) {
                            if (data.status == 'success') {
                               window.location.reload();
                            } else if (data.status == 'failed') {
                                window.alert(data.msg);
                            }
                        }
                    });
                });
            })
        </script>
    {% endfor %}
{% endblock base_footer_html %}
