{% extends 'base.html' %}
{% load staticfiles %}
{% load user_tags %}
{#{% load message_tags %}#}
{% load host_tags %}
{% load op_record_tags %}
{% load doc_tags %}
{% load platfom_tags %}

{#{% load online_tags %}#}

{% block base_title %}
    Dashboard
{% endblock base_title %}


{% block base_content %}
    <!-- 右边主体 -->
    <div class="app-content">
        <div class="app-content-body fade-in-up">
            <div class="padder" style="padding-top: 10px;">

                <div class="col-md-12" style="padding-left: 0; padding-right: 0;">
                    <div class="panel panel-default" id="body-content">
                        <div class="panel-body" id="table_content">

                            <div class="row">

                                <div class="col-md-7" style="padding-right: 10px;">
                                    <div class="col-md-3" style="padding-left: 0; padding-right: 20px;">
                                        <div class="panel panel-default" style="margin-bottom: 0;">
                                            <div class="text-center">
                                                <div class="panel-body"
                                                     style="background-color: #fff; height: 114px;line-height: 114px; vertical-align: middle;">
                                                    <a href="{% url 'users:user_list' %}"><i class="fa fa-user"
                                                                                             style="font-size: 60px;color: #1c2b36;"></i></a>
                                                </div>
                                                <div class="panel-footer">
                                                    <b style="margin-top: 10px; line-height: 27px;font-size: 18px;">用户数量：{% Get_Users_Nums %}</b>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-3" style="padding-left: 0; padding-right: 20px;">
                                        <div class="panel panel-default" style="margin-bottom: 0;">
                                            <div class="text-center">
                                                <div class="panel-body"
                                                     style="background-color: #fff; height: 114px;line-height: 114px; vertical-align: middle;">
                                                    <a href="{% url 'platform_management:platform_company_list' %}" class="fa fa-home"
                                                       style="font-size: 60px;color: #1c2b36;"></a>
                                                </div>
                                                <div class="panel-footer">
                                                    <b style="margin-top: 10px; line-height: 27px;font-size: 18px;">内部平台：{% Get_Company_Plat_Nums %}</b>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-3" style="padding-left: 0; padding-right: 20px;">
                                        <div class="panel panel-default" style="margin-bottom: 0;">
                                            <div class="text-center">
                                                <div class="panel-body"
                                                     style="background-color: #fff; height: 114px;line-height: 114px; vertical-align: middle;">
                                                    <a href="{% url 'platform_management:platform_other_list' %}" class="fa fa-newspaper-o"
                                                       style="font-size: 60px;color: #1c2b36;"></a>
                                                </div>
                                                <div class="panel-footer">
                                                    <b style="margin-top: 10px; line-height: 27px;font-size: 18px;">第三方：{% Get_Others_Plat_Nums %}</b>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-3" style="padding-left: 0; padding-right: 20px;">
                                        <div class="panel panel-default" style="margin-bottom: 0;">
                                            <div class="text-center">
                                                <div class="panel-body"
                                                     style="background-color: #fff; height: 114px;line-height: 114px; vertical-align: middle;">
                                                    <a href="{% url 'host_management:host_list' %}"><i
                                                            class="fa fa-hdd-o"
                                                            style="font-size: 60px;color: #1c2b36;"></i></a>
                                                </div>
                                                <div class="panel-footer">
                                                    <b style="margin-top: 10px; line-height: 27px;font-size: 18px;">主机数量：{% Get_Host_Nums %}</b>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-3" style="padding-left: 0; padding-right: 20px;padding-top: 20px">
                                        <div class="panel panel-default" style="margin-bottom: 0;">
                                            <div class="text-center">
                                                <div class="panel-body"
                                                     style="background-color: #fff; height: 114px;line-height: 114px; vertical-align: middle;">
                                                    <a href="{% url 'host_management:db_list'%}" class="fa fa-th-list "
                                                       style="font-size: 60px;color: #1c2b36;"></a>
                                                </div>
                                                <div class="panel-footer">
                                                    <b style="margin-top: 10px; line-height: 27px;font-size: 18px;">数据库：{% Get_Db_Nums %}</b>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-3" style="padding-left: 0; padding-right: 20px;padding-top: 20px">
                                        <div class="panel panel-default" style="margin-bottom: 0;">
                                            <div class="text-center">
                                                <div class="panel-body"
                                                     style="background-color: #fff; height: 114px;line-height: 114px; vertical-align: middle;">
                                                    <a href="{% url 'host_management:port_port_list'%}" class="fa fa-circle-o"
                                                       style="font-size: 60px;color: #1c2b36;"></a>
                                                </div>
                                                <div class="panel-footer">
                                                    <b style="margin-top: 10px; line-height: 27px;font-size: 18px;">端口映射：{% Get_Port_Nums %}</b>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-3" style="padding-left: 0; padding-right: 20px;padding-top: 20px">
                                        <div class="panel panel-default" style="margin-bottom: 0;">
                                            <div class="text-center">
                                                <div class="panel-body"
                                                     style="background-color: #fff; height: 114px;line-height: 114px; vertical-align: middle;">
                                                    <a href="{% url 'host_management:domain_resolve_list'%}" class="fa fa-sort-amount-desc "
                                                       style="font-size: 60px;color: #1c2b36;"></a>
                                                </div>
                                                <div class="panel-footer">
                                                    <b style="margin-top: 10px; line-height: 27px;font-size: 18px;">二级域名：{% Get_Domin_Nums %}</b>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-3" style="padding-left: 0; padding-right: 20px;padding-top: 20px">
                                        <div class="panel panel-default" style="margin-bottom: 0;">
                                            <div class="text-center">
                                                <div class="panel-body"
                                                     style="background-color: #fff; height: 114px;line-height: 114px; vertical-align: middle;">
                                                    <a href="{% url 'document_management:doc_list' 'document' %}" class="fa fa-file-text-o"
                                                       style="font-size: 60px;color: #1c2b36;"></a>
                                                </div>
                                                <div class="panel-footer">
                                                    <b style="margin-top: 10px; line-height: 27px;font-size: 18px;">文档数量：{% Get_Doc_Nums %}</b>
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                </div>

                                <div class="col-md-3" style="padding-right: 0;width: 30%;margin-left: 80px">
                                    <div class="panel panel-default">

                                        <div class="panel-heading pos-rlt text-center"
                                             style="background-color: #fff;">
                                            <span style="color: #1c2b36;">最新动态</span>
                                        </div>

                                        <div class="panel-body" id="user_action_record" style="overflow-y: auto;">
                                            <table class="full-width">
                                                {% Cet_Latest_Record as op_records %}
                                                {% for each in op_records %}
                                                    <tr style="height: 30px;">
                                                        <td width="15%" class="text-left"
                                                            style="border-right: 2px solid
                                                                    {% ifequal each.operation 1 %} #00bc12 {% endifequal %}
                                                                    {% ifequal each.operation 2 %} #177cb0 {% endifequal %}
                                                                    {% ifequal each.operation 3 %} #fff143 {% endifequal %}
                                                                    {% ifequal each.operation 4 %} #ff2d51 {% endifequal %}
                                                                    {% ifequal each.operation 5 %} #1c2b36 {% endifequal %}
                                                                    {% ifequal each.operation 6 %} #FF00CC {% endifequal %}">{{ each.add_time|date:"m-d H:i" }}</td>
                                                        <td width="45%"
                                                            style="padding-left: 10px;"><a
                                                                href="{% url 'users:other_user_info' each.op_user.id %}"
                                                                style="color:#006699 ;">{{ each.op_user.chinese_name }}</a>&nbsp;&nbsp;&nbsp;&nbsp;{{ each.action }}
                                                        </td>
                                                    </tr>
                                                {% endfor %}
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

{% endblock base_content %}